[Unit]
Description=My web1 application in docker
Requires=docker.service
After=docker.service

[Service]
ExecStart=/bin/docker start -a web1
ExecStop=/bin/docker stop -t 2 web1
Restart=always

[Install]
WantedBy=default.target
