[Unit]
Description=My lab5 application
After=network.target

[Service]
ExecStart=/usr/bin/lab5.sh -o start
ExecStop=/usr/bin/lab5.sh -o stop
Restart=always

[Install]
WantedBy=default.target
